@CHARSET "ISO-8859-1";

/*set footer at bottom*/
[data-role=page]{height: 100% !important; position:relative !important;}
[data-role=footer]{bottom:0; position:fixed !important; top: auto !important; width:100%;}

/* info button override */

.ui-icon-10 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/10.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-1 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/1.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-2 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/2.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-3 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/3.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-6 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/6.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-5 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/5.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-4 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/4.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-7 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/7.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-8 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/8.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-9 {
	background: url("/trendApp/Images/Glyphish Pro/icons2/9.png"); 
	background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin-top: -25px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-homesmallw {
	background: url("/trendApp/Images/Glyphish Pro/icons/53-house@2x-w.png"); 
	background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-top: 10px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-starlargew {
	background: url("/trendApp/Images/Glyphish Pro/icons/28-star@2x-w.png"); 
	background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-top: 10px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-magnilargew {
	background: url("/trendApp/Images/Glyphish Pro/icons/06-magnify@2x-w.png"); 
	background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-top: 10px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

.ui-icon-chartlargew {
	background: url("/trendApp/Images/Glyphish Pro/icons/16-line-chart@2x-w.png"); 
	background-size: 25px 25px;
    width: 25px;
    height: 25px;
    margin-top: 10px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 1px;
}

